<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<center>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
   <p>We understand that a career in healthcare is more than just a job - it's a calling where you make a difference in people's lives each and every day. We are here to encourage and share inspiration with our community to keep following your very special calling to serve others.

</p><p class="lead">
      <button> <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a></button>
    </p>
  </div>
</center>
</body>
</html>
