{% extends 'hospital/doctor_base.html' %}
{% block content %}
{%load static%}



<html>
<head>
<style>



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>


<center>
    <div class="panel-heading">
      <h1 class="panel-title">VIEW PATIENT RECORD</h1>
    </div>

<table>         <thead>
        <tr>
          <th>Name</th>
          <th>Symptoms</th>
          <th>Mobile</th>
          <th>Address</th>

        </tr>
      </thead>
      {% for p in patients %}
      <tr>
        <td> {{p.get_name}}</td>
        <td>{{p.symptoms}}</td>
        <td>{{p.mobile}}</td>
        <td>{{p.address}}</td>
      </tr>
      {% endfor %}
    </table>

</center>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body><center>
{% endblock content %}
