






{% extends 'hospital/admin_base.html' %}
{% block content %}
{%load static%}


<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>


<center>
    <div class="panel-heading">
      <h1 class="panel-title">your appointment list</h1>
    </div>

<table>      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Picture</th>
          <th>Description</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for a,p in appointments %}
      <tr>
        <td>{{a.patientName}}</td>
        <td>{{a.description}}</td>

        <td>  <a  href="{% url 'delete-appointment' a.id  %}" input type="button"  role="button" class="button" value="Input Button">DELETE</a></td>

      </tr>
      {% endfor %}

    </table>

</center>

</body>
</html>
{% endblock content %}
