



<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
  margin: 0;


 font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:#ff8000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#ffbf00;
  color: red;
}

.topnav a.active {
  background-color: #ff4000;
  color: white;
}

.topnav-right {
  float: right;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">CARE HOSPITAL</a>
   <a href="/adminclick" class="nav-item nav-link">Admin</a>
          <a href="/doctorclick" class="nav-item nav-link">Doctor</a>
          <a href="/patientclick" class="nav-item nav-link">Patient</a>
          <div class="topnav-right">
          <a href="/aboutus" class="nav-item nav-link">About Us</a>
          <a href="/contactus" class="nav-item nav-link">Contact Us</a>


  </div>
</div>

</body>
</html>
